<div class="container">

<h1> Make a new account! </h1>

  <form action="/sign_up" method="post">
    <input type="text" name="name" value="Username">
    <br><input type="password" name="pass" value="Password"></br>
    <input type="submit" value="register"><%= @error %>
  </form>


</div>