<div class="container">
<h1> Create a new post! </h1>

<form action="/submit" method="post">
  <br><input type= "text" name="title" value="Title"></br>
<textarea name="text" value="text" rows="5" cols="65">
Put your text here
</textarea>
  <input type="submit" value="post">
</form>


</div>