<div class="container">

  <h1> User: <%= @user.name %></h1>
  <h2> User ID: <%= @user.id %></h2>

  <a href="/user/<%= @user.id%>/posts">All their posts</a>
  <br><a href="/user/<%= @user.id%>/comments">All their comments</a></br>



</div>